  

    <section id="container">
        <div class="container-info">
            <!-- Do not forget to change the path to the image -->
         

            <form action="/auth/register" method="post" class="container-text">
                <h2>Login Page</h2>

                <label for="username">Email:</label>
                <input class="input-box" type="text" id="username" placeholder="Enter your email" name="username" >

                <label for="password">Password:</label>
                <input class="input-box" type="password" id="password" placeholder="*****" name="password">

                

                

                <button class="btn">Login</button>
                <div class="card-no-account">
                    <a routerLink="/auth/register"><p>Dont have account?Sign in</p></a>
                </div>

            </form>
        </div>

    </section>



