
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  width: 110px;
}
.nav-logo {
  display: flex;
  align-items: flex-end;
}

.nav-btn {
  padding: 0.15rem 0.75rem;
}
.nav-btn i {
  font-size: 1.25rem;
}
.nav-links {
  margin: 0 0 0 auto;

  height: 0;
  overflow: hidden;
  display:inline-flex ;
  flex-direction: column;
}

.show-links {
  height: 23.9375rem;
}

.nav-link {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: var(--grey-900);
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  border-top: px solid var(--grey-500);
}
.nav-link:hover {
  color: var(--primary-500);
}

.contact-link a {
  padding: 0.15rem 1rem;
}

@media screen and (min-width: 992px) {
  .navbar {
    height: 5rem;
  }
  .nav-center {
    margin: auto;

    display: flex;
    align-items: center;
  }
  .nav-header {
    display: block;
    padding: 0;
    margin-right: 2rem;
    height: auto;
  }
  
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items:center;
    width: 200%;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  .contact-link {
    margin-right: 0;
    margin-left: auto;
    font-size: 0.95rem;

  }
}