      <div class="nav-center">
        <div class="nav-header">
          <!--home link ADD-->
          <a href="/" class="nav-logo">
            <img src="../../../assets/logo.png" alt="simply recipes" />
          </a>
          
        </div>
        
        <div class="nav-links">
          <a href="index.html" class="nav-link"> home </a>
          <a href="about.html" class="nav-link"> about </a>
          <a href="recipes.html" class="nav-link"> recipes </a>
          <a href="tags.html" class="nav-link"> add new recipe </a>


          <div class="contact-link">
            <a href="contact.html" class="btn"> LOGIN </a>
            <a href="contact.html" class="btn"> REGISTER </a>
            <a href="contact.html" class="btn"> LOGOUT </a>
          </div>
        </div>
      </div>
